h1 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}

body {
  background: grey;
}
#todo-list {
  width: 500px;
  margin: 60px auto;
}
form,
.todo {
  border: 1px solid rgb(15, 26, 61);
  padding: 10px 20px;
  margin-bottom: 10px;
}
form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
form input {
  padding: 4px 8px;
  flex-grow: 1;
  margin-right: 16px;
}
.todo {
  display: flex;
  flex-direction: column;
}

.todo input[type="checkbox"] {
  margin-left: auto; /* Move the checkbox to the right using margin-left:auto */
}

button {
  font-size: 16px;
  background-color: rgb(62, 138, 151);
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(173, 47, 28);
}
button:active {
  background-color: rgb(130, 35, 21);
}
button:focus {
  outline: 0;
}
input[type="text"] {
  font-size: 20px;
  font-family: monospace;
}
.todo-text input {
  padding: 4px;
}
.todo-text {
  flex-grow: 1; /* Allow the todo-text to grow and take up available space */
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
.todo-text input[type="checkbox"] {
  margin-right: 1rem; /* Add margin to the right of the checkbox for spacing */
  transform: scale(1.2); /* Increase the size of the checkbox using transform */
}
.todo-completed {
  display: flex;
  margin: 10px 0;
}
.todo-actions {
  display: flex;
  justify-content: space-between;
}
